Extract From File/database.ini
Dashboard/database.ini
__pycache__/
Extract From Exchange/exchange_credentials.ini
.ipynb_checkpoints/
Extract From Exchange/database.ini
Dashboard/host_details.ini
groceries_venv
